.cuadritohotel{
    
    margin: 10px;
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
}
#titulo{
    background-color: #B3ECE3;
    text-align: center;
    margin-top: 50px;

}
#pie-de-pagina{
    background-color: burlywood;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
 
    left: 0;
    bottom: 0;
}